@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --header-height: 4rem;
    --first-color: hsl(176,88%,27%); 
    --first-color-art:hsl(129,44%,94%);
    --second-color:hsl(34,94%,87%);
    --title-color:hsl(0,0%,13%);
    --text-color:hsl(154,13%,32%);
    --textcolor-light:hsl(60,1%,56%);
    --body-color:hsl(0,0%,100%);
    --container-color:hsl(0,0%,93%);
    --border-color:hsl(129,36%,85%);
    --border-color-alt:hsl(113,15%,90%);


    --body-font: 'Lato'.sans-serif;
    --second-font:'Leangue Spartan', sans-serif;
    --big-font-size:3.5rem;
    --h1-font-size:2.75rem;
    --h2-font-size:2rem;
    --h3-font-size:1.75rem ;
    --h4-font-size:1.375rem ;
    --large-font-size:1.125rem ;
    --nomal-font-size:1rem;
    --small-font-size:0.875rem;
    --smaller-font-size:0.75;
    --tiny-font-size:0.6875rem;


    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;

    --transition:cubic-bezier(0,0,0.05,1) ;
}

/* Responsive */
@media screen and (max-width:1200px){
    
    :root{
        --big-font-size: ;
        --h1-font-size:2.75rem;
        --h2-font-size:2rem;
        --h3-font-size:1.75rem ;
        --h4-font-size:1.375rem ;
        --large-font-size:1.125rem ;
        --nomal-font-size:1rem;
        --small-font-size:0.875rem;
        --smaller-font-size:0.75;
        --tiny-font-size:0.6875rem;
    }
}
    /* BASE */
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    input,
    textarea,
    body{
        color:var(--text-color);
        font-family: var(--body-font);
        font-size: var(--nomal-font-size);
        font-weight: var(--weight-400);
    }

    body{
        background-color: var(--body-color);
    }
h1,h2,h3,h4{
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--weight-600);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5rem;
}
img{
    max-width: 100%;
}
button,
textarea,
input{
    background-color: transparent;
    border:none;
    outline: none;
}
     /* Reusable css class */
     .container{
        /* background-color: var(--first-color); */
        max-width: 1520px;
        margin-inline: auto;
        padding-inline: .75rem;
     }


  /* Header Nav */
  .header__top{
    background-color: var(--first-color-art);
    border-bottom: 1px solid var(--first-color);
    padding-block: .875rem;
  }
  .header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__contact span:first-child{
    margin-right: 2rem;
  }
  .header__contact span,
  .header__alert-news,
  .header__top-action{
    font-size: var(--small-font-size);
  }